# Set up
- Import pandas library
- read csv file to Df

In [8]:
import pandas as pd

In [9]:
deutschebahn_df = pd.read_csv(r'...\data\DBtrainrides.csv')

In [10]:
db_df = deutschebahn_df.copy()

# Data Exploration & Cleaning

In [12]:
db_df.head(5)

,ID,line,path,eva_nr,category,station,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,departure_delay_m,info,arrival_delay_check,departure_delay_check
0,1573967790757085557-2407072312-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.767800,2024-07-08 00:00:00,2024-07-08 00:01:00,2024-07-08 00:03:00,2024-07-08 00:04:00,3,3,NaN,on_time,on_time
1,349781417030375472-2407080017-1,18,NaN,8000001,2,Aachen Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.767800,NaN,2024-07-08 00:17:00,NaN,NaN,0,0,NaN,on_time,on_time
2,7157250219775883918-2407072120-25,1,Hamm(Westf)Hbf|Kamen|Kamen-Methler|Dortmund-Ku...,8000406,4,Aachen-Rothe Erde,Nordrhein-Westfalen,Aachen,52066,6.116475,50.770202,2024-07-08 00:03:00,2024-07-08 00:04:00,2024-07-08 00:03:00,2024-07-08 00:04:00,0,0,NaN,on_time,on_time
3,349781417030375472-2407080017-2,18,Aachen Hbf,8000404,5,Aachen West,Nordrhein-Westfalen,Aachen,52072,6.070715,50.780360,2024-07-08 00:20:00,2024-07-08 00:21:00,NaN,NaN,0,0,NaN,on_time,on_time
4,1983158592123451570-2407080010-3,33,Herzogenrath|Kohlscheid,8000404,5,Aachen West,Nordrhein-Westfalen,Aachen,52072,6.070715,50.780360,2024-07-08 00:20:00,2024-07-08 00:21:00,2024-07-08 00:20:00,2024-07-08 00:21:00,0,0,NaN,on_time,on_time

In [13]:
db_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061357 entries, 0 to 2061356
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   line                   object
 2   path                   object
 3   eva_nr                 int64
 4   category               int64
 5   station                object
 6   state                  object
 7   city                   object
 8   zip                    int64
 9   long                   float64
 10  lat                    float64
 11  arrival_plan           object
 12  departure_plan         object
 13  arrival_change         object
 14  departure_change       object
 15  arrival_delay_m        int64
 16  departure_delay_m      int64
 17  info                   object
 18  arrival_delay_check    object
 19  departure_delay_check  object
dtypes: float64(2), int64(5), object(13)
memory usage: 314.5+ MB

### date type check
1. Converting str to datetime
- column: arrival_plan, departure_plan, arrival_change, departure_change

In [15]:
db_df['arrival_plan'] = pd.to_datetime(db_df['arrival_plan']).copy()
db_df['departure_plan'] = pd.to_datetime(db_df['departure_plan']).copy()
db_df['arrival_change'] = pd.to_datetime(db_df['arrival_change']).copy()
db_df['departure_change'] = pd.to_datetime(db_df['departure_change']).copy()

In [16]:
db_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061357 entries, 0 to 2061356
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   line                   object
 2   path                   object
 3   eva_nr                 int64
 4   category               int64
 5   station                object
 6   state                  object
 7   city                   object
 8   zip                    int64
 9   long                   float64
 10  lat                    float64
 11  arrival_plan           datetime64[ns]
 12  departure_plan         datetime64[ns]
 13  arrival_change         datetime64[ns]
 14  departure_change       datetime64[ns]
 15  arrival_delay_m        int64
 16  departure_delay_m      int64
 17  info                   object
 18  arrival_delay_check    object
 19  departure_delay_check  object
dtypes: datetime64[ns](4), float64(2), int64(5), object(9)
memory usage: 314.5+ MB

## Is it covered all state?
- contain all 16 Federal states(Bundesland) in Germany

In [18]:
db_df['city'].nunique()

1292

In [19]:
db_df['state'].nunique()

16

In [20]:
db_df['state'].unique()

array(['Nordrhein-Westfalen', 'Baden-Württemberg', 'Niedersachsen',
       'Schleswig-Holstein', 'Bayern', 'Berlin', 'Hamburg', 'Thüringen',
       'Rheinland-Pfalz', 'Mecklenburg-Vorpommern', 'Sachsen',
       'Sachsen-Anhalt', 'Brandenburg', 'Hessen', 'Saarland', 'Bremen'],
      dtype=object)

In [21]:
## check the ranking of most data state
grouped_st_df = db_df.groupby('state').count().sort_values('ID', ascending=False)[['ID']]
grouped_st_df.sort_values('ID', ascending=False)

                            ID
state
Nordrhein-Westfalen     342957
Berlin                  334845
Bayern                  330381
Baden-Württemberg       253224
Hessen                  200308
Hamburg                 154982
Sachsen                  84791
Niedersachsen            82767
Rheinland-Pfalz          78941
Brandenburg              58961
Schleswig-Holstein       36084
Sachsen-Anhalt           31099
Mecklenburg-Vorpommern   23131
Thüringen                21175
Saarland                 17283
Bremen                   10428

## station name check
- if station name has no typo, or case difference.
- compared it with eva_nr (unique id)

In [23]:
db_df['eva_nr'].nunique() == db_df['station'].nunique()

True

## Problem

### unclear Line (S bahn or Regional?)
- this is impossible to check manually

In [26]:
db_df['state'].unique()

array(['Nordrhein-Westfalen', 'Baden-Württemberg', 'Niedersachsen',
       'Schleswig-Holstein', 'Bayern', 'Berlin', 'Hamburg', 'Thüringen',
       'Rheinland-Pfalz', 'Mecklenburg-Vorpommern', 'Sachsen',
       'Sachsen-Anhalt', 'Brandenburg', 'Hessen', 'Saarland', 'Bremen'],
      dtype=object)

### white space in city
- fixed

In [28]:
db_df['city'] = db_df['city'].str.strip()

### white space in Station

In [30]:
db_df['station'] = db_df['station'].str.strip()

In [31]:
## There are some white space in between, changed to underscore.
db_df['station'] = db_df['station'].str.replace(' ', '_')

## Determine Delayed train
- data owner define delayed only after 6 minutes.
- I will redefine to 5 min

In [33]:
db_df.head()

,ID,line,path,eva_nr,category,station,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,departure_delay_m,info,arrival_delay_check,departure_delay_check
0,1573967790757085557-2407072312-14,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001,2,Aachen_Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.767800,2024-07-08 00:00:00,2024-07-08 00:01:00,2024-07-08 00:03:00,2024-07-08 00:04:00,3,3,NaN,on_time,on_time
1,349781417030375472-2407080017-1,18,NaN,8000001,2,Aachen_Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.767800,NaT,2024-07-08 00:17:00,NaT,NaT,0,0,NaN,on_time,on_time
2,7157250219775883918-2407072120-25,1,Hamm(Westf)Hbf|Kamen|Kamen-Methler|Dortmund-Ku...,8000406,4,Aachen-Rothe_Erde,Nordrhein-Westfalen,Aachen,52066,6.116475,50.770202,2024-07-08 00:03:00,2024-07-08 00:04:00,2024-07-08 00:03:00,2024-07-08 00:04:00,0,0,NaN,on_time,on_time
3,349781417030375472-2407080017-2,18,Aachen Hbf,8000404,5,Aachen_West,Nordrhein-Westfalen,Aachen,52072,6.070715,50.780360,2024-07-08 00:20:00,2024-07-08 00:21:00,NaT,NaT,0,0,NaN,on_time,on_time
4,1983158592123451570-2407080010-3,33,Herzogenrath|Kohlscheid,8000404,5,Aachen_West,Nordrhein-Westfalen,Aachen,52072,6.070715,50.780360,2024-07-08 00:20:00,2024-07-08 00:21:00,2024-07-08 00:20:00,2024-07-08 00:21:00,0,0,NaN,on_time,on_time

In [34]:
db_df.loc[db_df['arrival_delay_m'] >=5, 'arrival_delay_check'] = 'delay'
db_df.loc[db_df['arrival_delay_m'] < 5, 'arrival_delay_check'] = 'on_time'

In [35]:
db_df.loc[db_df['departure_delay_m'] >=5, 'departure_delay_check'] = 'delay'
db_df.loc[db_df['departure_delay_m'] < 5, 'departure_delay_check'] = 'on_time'

In [36]:
db_df.sample(5)

,ID,line,path,eva_nr,category,station,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,departure_delay_m,info,arrival_delay_check,departure_delay_check
1843698,568707707557220688-2407140619-11,2,München Ost|München Rosenheimer Platz|München ...,8004157,4,München-Obermenzing,Bayern,München,81247,11.478117,48.164223,2024-07-14 06:38:00,2024-07-14 06:40:00,2024-07-14 06:40:00,2024-07-14 06:40:00,2,0,Bauarbeiten,on_time,on_time
1417411,-7710200080056392956-2407121520-7,7,Frankfurt(Main)Hbf|Frankfurt-Niederrad|Frankfu...,8002386,3,Groß_Gerau-Dornberg,Hessen,Groß Gerau-Dornberg,64521,8.494709,49.912279,2024-07-12 15:45:00,2024-07-12 15:46:00,2024-07-12 15:45:00,2024-07-12 15:46:00,0,0,Information,on_time,on_time
469000,8644481718983490193-2407091432-4,2,Recklinghausen Hbf|Recklinghausen Süd|Herne,8001327,3,Castrop-Rauxel_Hbf,Nordrhein-Westfalen,Castrop-Rauxel,44579,7.303980,51.573526,2024-07-09 14:50:00,2024-07-09 14:51:00,2024-07-09 14:51:00,2024-07-09 14:52:00,1,1,Bauarbeiten. (Quelle: zuginfo.nrw),on_time,on_time
507279,1834887054717246736-2407091601-15,2,Berlin-Lichtenrade|Berlin Schichauweg|Berlin B...,8089018,4,Humboldthain,Berlin,Berlin,13357,13.379277,52.544795,2024-07-09 16:34:00,2024-07-09 16:34:00,2024-07-09 16:34:00,2024-07-09 16:34:00,0,0,NaN,on_time,on_time
1014446,1997568551701828845-2407110907-1,31,NaN,8010089,2,Dresden-Neustadt,Sachsen,Dresden,1097,13.740701,51.065899,NaT,2024-07-11 09:07:00,NaT,2024-07-11 09:07:00,0,0,NaN,on_time,on_time

In [61]:
delayed_train_df = db_df.loc[(db_df['arrival_delay_check'] == 'delay') | (db_df['departure_delay_check'] == 'delay')]
delayed_train_df

,ID,line,path,eva_nr,category,station,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,departure_delay_m,info,arrival_delay_check,departure_delay_check
9,-6027587483204218492-2407080013-4,8,Bremen Hbf|Bremen-Sebaldsbrück|Bremen-Mahndorf,8000413,4,Achim,Niedersachsen,Achim,28832,9.030447,53.015990,2024-07-08 00:27:00,2024-07-08 00:27:00,2024-07-08 01:16:00,2024-07-08 01:17:00,49,50,NaN,delay,delay
12,1640260421649276864-2407080004-5,7,Hannover Hbf|Hannover-Kleefeld|Hannover Karl-W...,8000443,5,Ahlten_(Han),Niedersachsen,Lehrte,31275,9.904613,52.376062,2024-07-08 00:16:00,2024-07-08 00:16:00,2024-07-08 00:24:00,2024-07-08 00:24:00,8,8,Information,delay,delay
27,6252347552889792227-2407072336-6,RE2,Hannover Hbf|Sarstedt|Nordstemmen|Elze(Han)|Ba...,8000483,4,Alfeld_(Leine),Niedersachsen,Alfeld,31061,9.817779,51.981417,2024-07-08 00:09:00,2024-07-08 00:10:00,2024-07-08 00:24:00,2024-07-08 00:25:00,15,15,NaN,delay,delay
42,2992031615454778636-2407072348-5,S5,"Bahnhof B176, Neukieritzsch|Deutzen Markt|Regi...",8010003,5,Altenburg,Thüringen,Altenburg,4600,12.444019,50.996648,2024-07-08 00:25:00,2024-07-08 00:26:00,2024-07-08 00:39:00,2024-07-08 00:39:00,14,13,NaN,delay,delay
43,-5109043856199033040-2407072315-10,RB91,Hagen Hbf|Hohenlimburg|Letmathe|Altena(Westf)|...,8000532,4,Lennestadt-Altenhundem,Nordrhein-Westfalen,Lennestadt,57368,8.071517,51.104132,2024-07-08 00:19:00,2024-07-08 00:19:00,2024-07-08 00:36:00,2024-07-08 00:36:00,17,17,NaN,delay,delay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061292,5002545994361328034-2407142107-24,5,Wesel|Voerde(Niederrhein)|Dinslaken|Oberhausen...,8003341,4,Koblenz_Stadtmitte,Rheinland-Pfalz,Koblenz,56068,7.589985,50.357714,2024-07-14 23:39:00,2024-07-14 23:39:00,2024-07-14 23:51:00,2024-07-14 23:51:00,12,12,NaN,delay,delay
2061296,6572076932482604871-2407142145-29,3,Kaiserslautern Hbf|Hochspeyer|Frankenstein(Pfa...,8005933,5,Stettfeld-Weiher,Baden-Württemberg,Ubstadt-Weiher,76698,8.636928,49.183625,2024-07-14 23:46:00,2024-07-14 23:46:00,2024-07-14 23:53:00,2024-07-14 23:53:00,7,7,NaN,delay,delay
2061308,11741953465480854-2407142242-10,41,Mosbach(Baden)|Mosbach West|Mosbach-Neckarelz|...,8004238,5,Neckarsulm_Nord,Baden-Württemberg,Neckarsulm,74172,9.228679,49.202096,2024-07-14 23:13:00,2024-07-14 23:13:00,2024-07-14 23:19:00,2024-07-14 23:19:00,6,6,NaN,delay,delay
2061322,106028759264424117-2407142258-14,2,Dessau Hbf|Dessau Süd|Marke|Raguhn|Jeßnitz(Anh...,8012200,5,Leipzig_Essener_Straße,Sachsen,Leipzig,4129,12.396988,51.376358,2024-07-14 23:42:00,2024-07-14 23:42:00,2024-07-14 23:53:00,2024-07-14 23:54:00,11,12,NaN,delay,delay
2061334,212351877583562498-2407142231-13,3,Hamburg Elbgaustraße|Hamburg-Eidelstedt|Hambur...,8002551,4,Elbbrücken,Hamburg,Hamburg,20457,10.024660,53.534824,2024-07-14 23:01:00,2024-07-14 23:01:00,2024-07-14 23:06:00,2024-07-14 23:07:00,5,6,Information,delay,delay

# Question

## Train delayed rate & AVG delay time

### 1) Total

##### rate

In [283]:
db_df.shape[0]

2061357

In [48]:
# Total number of delayed train / Total number of train
delayed_train_df.shape[0]/db_df.shape[0]*100

7.578357363620178

##### AVG delay time

In [50]:
delayed_train_df['arrival_delay_m'].mean(), delayed_train_df['departure_delay_m'].mean()

(9.697504112868637, 9.816966143249454)

### 2) by state

In [52]:
state_list = list(db_df['state'].unique())
state_list

['Nordrhein-Westfalen',
 'Baden-Württemberg',
 'Niedersachsen',
 'Schleswig-Holstein',
 'Bayern',
 'Berlin',
 'Hamburg',
 'Thüringen',
 'Rheinland-Pfalz',
 'Mecklenburg-Vorpommern',
 'Sachsen',
 'Sachsen-Anhalt',
 'Brandenburg',
 'Hessen',
 'Saarland',
 'Bremen']

In [63]:
len(state_list)

16

#### - one state (Berlin)

##### rate

In [55]:
berlin_delay_df = delayed_train_df.loc[delayed_train_df['state'] == 'Berlin']
berlin_all_df = db_df.loc[db_df['state'] == 'Berlin']
berlin_delay_rate = berlin_delay_df.shape[0]/berlin_all_df.shape[0]*100
berlin_delay_rate

2.2141587898878585

##### AVG time

In [57]:
berlin_delay_df['arrival_delay_m'].mean(), berlin_delay_df['departure_delay_m'].mean()

(8.840437011060157, 8.763960075532776)

#### - all states

In [87]:
state_list[15]

'Bremen'

In [75]:
range(len(state_list))

range(0, 16)

In [209]:
delayed_train_df[delayed_train_df['state'] == 'Berlin'].shape[0]

7414

In [213]:
state_results = []

for state in state_list:
    state_delay_count = delayed_train_df[delayed_train_df['state'] == state].shape[0]
    state_all_count = db_df.loc[db_df['state'] == state].shape[0]
    
    delay_rate = state_delay_count/state_all_count*100

    state_results.append({'state': state,
                          'train_total': state_delay_count,
                          'delayed': state_all_count,
                          'delay_rate': delay_rate,
                          'avg_arrival_delay_m': state_delay_df['arrival_delay_m'].mean(),
                          'avg_departure_delay_m': state_delay_df['departure_delay_m'].mean()
                         })
    

state_delay_rate_df = pd.DataFrame(state_results)
state_delay_rate_df

,state,train_total,delayed,delay_rate,avg_arrival_delay_m,avg_departure_delay_m
0,Nordrhein-Westfalen,35694,342957,10.407719,11.519417,12.791262
1,Baden-Württemberg,24988,253224,9.867943,11.519417,12.791262
2,Niedersachsen,5679,82767,6.861430,11.519417,12.791262
3,Schleswig-Holstein,1940,36084,5.376344,11.519417,12.791262
4,Bayern,36364,330381,11.006686,11.519417,12.791262
5,Berlin,7414,334845,2.214159,11.519417,12.791262
6,Hamburg,3613,154982,2.331238,11.519417,12.791262
7,Thüringen,1224,21175,5.780401,11.519417,12.791262
8,Rheinland-Pfalz,10090,78941,12.781698,11.519417,12.791262
9,Mecklenburg-Vorpommern,1041,23131,4.500454,11.519417,12.791262
10,Sachsen,4311,84791,5.084266,11.519417,12.791262
11,Sachsen-Anhalt,2400,31099,7.717290,11.519417,12.791262
12,Brandenburg,3669,58961,6.222757,11.519417,12.791262
13,Hessen,16616,200308,8.295225,11.519417,12.791262
14,Saarland,968,17283,5.600879,11.519417,12.791262
15,Bremen,206,10428,1.975451,11.519417,12.791262

In [132]:
# state_delay_rate_df.to_csv(f'C:/Users/hyoni/Documents/WBS - Data Analystics/0_Final_Project/data/save_from_python/delay_by_state.csv')

In [124]:
state_delay_rate_df.sort_values('delay_rate', ascending=False)

,state,train_total,delayed,delay_rate,avg_arrival_delay_m,avg_departure_delay_m
8,Rheinland-Pfalz,78941,10090,12.781698,10.105154,10.209217
4,Bayern,330381,36364,11.006686,8.659718,8.583517
0,Nordrhein-Westfalen,342957,35694,10.407719,10.458228,10.477055
1,Baden-Württemberg,253224,24988,9.867943,9.843685,10.189851
13,Hessen,200308,16616,8.295225,9.960279,10.302299
11,Sachsen-Anhalt,31099,2400,7.717290,9.398333,9.317083
2,Niedersachsen,82767,5679,6.861430,11.138581,11.451664
12,Brandenburg,58961,3669,6.222757,10.734533,11.171164
7,Thüringen,21175,1224,5.780401,9.216503,9.579248
14,Saarland,17283,968,5.600879,9.921488,9.897727
3,Schleswig-Holstein,36084,1940,5.376344,9.347423,9.349485
10,Sachsen,84791,4311,5.084266,10.215263,10.504059
9,Mecklenburg-Vorpommern,23131,1041,4.500454,9.645533,9.847262
6,Hamburg,154982,3613,2.331238,7.492665,7.663714
5,Berlin,334845,7414,2.214159,8.840437,8.763960
15,Bremen,10428,206,1.975451,11.519417,12.791262

### 3) by city

In [122]:
city_list = list(db_df['city'].unique())

#### - One city (Aachen)

In [111]:
ct_aachen_delay_df = delayed_train_df.loc[delayed_train_df['city'] == 'Aachen']
ct_aachen_all_df = db_df.loc[db_df['city'] == 'Aachen']
ct_aachen_delay_rate = ct_aachen_delay_df.shape[0]/ct_aachen_all_df.shape[0]*100
ct_aachen_delay_rate

4.301075268817205

In [113]:
ct_aachen_delay_df['arrival_delay_m'].mean(), ct_aachen_delay_df['departure_delay_m'].mean()

(11.405172413793103, 12.28448275862069)

#### - All cities

In [128]:
city_results = []

for city in city_list:
    city_delay_df = delayed_train_df[delayed_train_df['city'] == city]
    city_all_df = db_df.loc[db_df['city'] == city]
    
    delay_rate = city_delay_df.shape[0]/city_all_df.shape[0]*100

    city_results.append({'city': city,
                         'train_total': city_all_df.shape[0],
                         'delayed': city_delay_df.shape[0],
                         'delay_rate': delay_rate,
                         'avg_arrival_delay_m': city_delay_df['arrival_delay_m'].mean(),
                         'avg_departure_delay_m': city_delay_df['departure_delay_m'].mean()
                         })
    

city_delay_rate_df = pd.DataFrame(city_results)
city_delay_rate_df.head()

,city,train_total,delayed,delay_rate,avg_arrival_delay_m,avg_departure_delay_m
0,Aachen,5394,232,4.301075,11.405172,12.284483
1,Aalen,823,42,5.103281,3.380952,6.714286
2,Achim,1111,60,5.400540,19.050000,19.266667
3,Ahlen,515,0,0.000000,NaN,NaN
4,Lehrte,2468,138,5.591572,14.101449,14.072464

In [135]:
## It takes forever to run the previous line. save it as csv for next time uses
# city_delay_rate_df.to_csv(f'C:/.../delay_by_city.csv')

### 4) by Station

#### - All station

In [271]:
station_list = list(delayed_train_df['station'].unique())

In [274]:
for station in station_list:
    station_delay_df = delayed_train_df[delayed_train_df['station'] == station]
    station_all_df = db_df.loc[db_df['station'] == station]
    
    delay_rate = station_delay_df.shape[0]/station_all_df.shape[0]*100

    station_results.append({'station': station,
                         'train_total': station_all_df.shape[0],
                         'delayed': station_delay_df.shape[0],
                         'delay_rate': delay_rate,
                         'avg_arrival_delay_m': station_delay_df['arrival_delay_m'].mean(),
                         'avg_departure_delay_m': station_delay_df['departure_delay_m'].mean()
                         })
    

station_delay_rate_df = pd.DataFrame(station_results)
station_delay_rate_df.head()

,station,train_total,delayed,delay_rate,avg_arrival_delay_m,avg_departure_delay_m
0,Achim,703,46,6.543385,16.652174,17.065217
1,Ahlten_(Han),568,5,0.880282,7.200000,7.200000
2,Alfeld_(Leine),278,40,14.388489,12.700000,12.700000
3,Altenburg,515,33,6.407767,6.969697,5.969697
4,Lennestadt-Altenhundem,495,55,11.111111,15.272727,15.418182

In [276]:
# station_delay_rate_df.to_csv(f'C:/.../delay_by_station.csv')

## Most delayed Line

### 1) Total

In [303]:
db_df.groupby(['city', 'line']).count()

                        ID  path  eva_nr  category  station  state   zip  \
city            line
Aachen          1      473   321     473       473      473    473   473
                18     621   414     621       621      621    621   621
                19      31    17      31        31       31     31    31
                20    1929  1900    1929      1929     1929   1929  1929
                29     119     0     119       119      119    119   119
...                    ...   ...     ...       ...      ...    ...   ...
Übach-Palenberg 33     546   546     546       546      546    546   546
                4      258   258     258       258      258    258   258
                RB33     3     3       3         3        3      3     3
                RE4      3     3       3         3        3      3     3
Übersee         RE5    328   328     328       328      328    328   328

                      long   lat  arrival_plan  departure_plan  \
city            line
Aachen          1      473   473           321             473
                18     621   621           414             621
                19      31    31            17              31
                20    1929  1929          1900            1929
                29     119   119             0             119
...                    ...   ...           ...             ...
Übach-Palenberg 33     546   546           546             546
                4      258   258           258             258
                RB33     3     3             3               3
                RE4      3     3             3               3
Übersee         RE5    328   328           328             328

                      arrival_change  departure_change  arrival_delay_m  \
city            line
Aachen          1                311               457              473
                18               124               125              621
                19                 7                11               31
                20              1750              1772             1929
                29                 0                 0              119
...                              ...               ...              ...
Übach-Palenberg 33               495               495              546
                4                240               240              258
                RB33               0                 0                3
                RE4                0                 0                3
Übersee         RE5              327               327              328

                      departure_delay_m  info  arrival_delay_check  \
city            line
Aachen          1                   473    11                  473
                18                  621    28                  621
                19                   31    16                   31
                20                 1929   213                 1929
                29                  119     0                  119
...                                 ...   ...                  ...
Übach-Palenberg 33                  546    72                  546
                4                   258    58                  258
                RB33                  3     0                    3
                RE4                   3     0                    3
Übersee         RE5                 328     0                  328

                      departure_delay_check
city            line
Aachen          1                       473
                18                      621
                19                       31
                20                     1929
                29                      119
...                                     ...
Übach-Palenberg 33                      546
                4                       258
                RB33                      3
                RE4                       3
Übersee         RE5                     328

[5432 rows x 18 columns]

In [153]:
db_df['line'].nunique()

296

## Reason for delay

In [87]:
delay_reason_df = delayed_train_df.groupby('info').count()[['ID']].reset_index()
delay_reason_df.loc[delay_reason['info'].str.contains('Bauarbeiten')

                                 info     ID
0                         Bauarbeiten   9847
1  Bauarbeiten. (Quelle: zuginfo.nrw)   9905
2                         Großstörung    529
3                         Information  18793
4  Information. (Quelle: zuginfo.nrw)   5401
5                             Störung  10998
6      Störung. (Quelle: zuginfo.nrw)   4510

In [62]:
delayed_train_df.count()

ID                       156217
line                     156217
path                     151437
eva_nr                   156217
category                 156217
station                  156217
state                    156217
city                     156217
zip                      156217
long                     156217
lat                      156217
arrival_plan             151437
departure_plan           156217
arrival_change           151399
departure_change         156076
arrival_delay_m          156217
departure_delay_m        156217
info                      59983
arrival_delay_check      156217
departure_delay_check    156217
dtype: int64

## Train schedule distribution

### 1) day

In [139]:
schedule_distribution = db_df[['departure_plan']]
schedule_distribution['weekday'] = schedule_distribution['departure_plan'].dt.weekday

C:\Users\hyoni\AppData\Local\Temp\ipykernel_13840\883694052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_distribution['weekday'] = schedule_distribution['departure_plan'].dt.weekday

In [141]:
schedule_distribution.groupby('weekday').count()

         departure_plan
weekday
0                307613
1                309376
2                310900
3                309463
4                307847
5                265771
6                250387

### 2) Hour

In [149]:
schedule_distribution['hour'] = schedule_distribution['departure_plan'].dt.hour

C:\Users\hyoni\AppData\Local\Temp\ipykernel_13840\945610834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_distribution['hour'] = schedule_distribution['departure_plan'].dt.hour

In [151]:
schedule_distribution.groupby('hour').count()

      departure_plan  weekday
hour
0              49615    49615
1              25361    25361
2              11010    11010
3               9645     9645
4              34775    34775
5              78902    78902
6             102692   102692
7             112599   112599
8             109416   109416
9             105135   105135
10            102122   102122
11            102314   102314
12            103397   103397
13            106730   106730
14            107958   107958
15            112288   112288
16            116142   116142
17            116490   116490
18            113410   113410
19            105587   105587
20             97754    97754
21             88845    88845
22             80069    80069
23             69101    69101

# to SQL

In [16]:
schema = ""
host = ""
user = ""
password = ""
port = 

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [61]:
db_df_sql = db_df.iloc[:, 1:]

In [40]:
# db_df_sql.to_sql('timetable',
#                   if_exists='append',
#                   con=connection_string,
#                   index=False)

2061357

In [63]:
# db_df_sql.to_csv(f'C:/.../cleaned_db_data.csv')

In [67]:
## problem with decimal and delimiter on Tableau
# db_df_sql.to_csv(f'C:/.../cleaned_db_data_2nd.csv', sep=';',decimal=',')

In [69]:
db_df_sql.head(5)

,line,path,eva_nr,category,station,state,city,zip,long,lat,arrival_plan,departure_plan,arrival_change,departure_change,arrival_delay_m,departure_delay_m,info,arrival_delay_check,departure_delay_check
0,20,Stolberg(Rheinl)Hbf Gl.44|Eschweiler-St.Jöris|...,8000001,2,Aachen_Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.767800,2024-07-08 00:00:00,2024-07-08 00:01:00,2024-07-08 00:03:00,2024-07-08 00:04:00,3,3,NaN,on_time,on_time
1,18,NaN,8000001,2,Aachen_Hbf,Nordrhein-Westfalen,Aachen,52064,6.091499,50.767800,NaT,2024-07-08 00:17:00,NaT,NaT,0,0,NaN,on_time,on_time
2,1,Hamm(Westf)Hbf|Kamen|Kamen-Methler|Dortmund-Ku...,8000406,4,Aachen-Rothe_Erde,Nordrhein-Westfalen,Aachen,52066,6.116475,50.770202,2024-07-08 00:03:00,2024-07-08 00:04:00,2024-07-08 00:03:00,2024-07-08 00:04:00,0,0,NaN,on_time,on_time
3,18,Aachen Hbf,8000404,5,Aachen_West,Nordrhein-Westfalen,Aachen,52072,6.070715,50.780360,2024-07-08 00:20:00,2024-07-08 00:21:00,NaT,NaT,0,0,NaN,on_time,on_time
4,33,Herzogenrath|Kohlscheid,8000404,5,Aachen_West,Nordrhein-Westfalen,Aachen,52072,6.070715,50.780360,2024-07-08 00:20:00,2024-07-08 00:21:00,2024-07-08 00:20:00,2024-07-08 00:21:00,0,0,NaN,on_time,on_time